.encabezado {
    padding-top: 90px;
}

.footer {
    padding-bottom: 100px;
}

.page-content {
    margin: 20px;
    display: flex;
}

.page-content-izq {
    width: 50%;
    margin-right: 20px;
}

.page-content-der {
    width: 50%;
    margin-left: 20px;
}

.page-content-der-1 {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
}

.total-factura {
    font-size: 29px;
    font-weight: bold;
    margin: 0px 10px;
}

.btn-to-go-print {
    padding: 5px 16px;
    margin: 5px 5px;
}

@media (max-width:1300px) {
    .footer-section {
        width: 100%;
    }
}

@media (max-width:860px) {
    .footer-container, .encabezado, .header-container {
        display: none;
    }
}

@media (max-width:785px) {
    .page-content-der {
        display: none;
    }
    .page-content-izq {
        width: 100%;
    }
    .card-container {
        width: 150px;
        height: 140px;
    }
    .description1-card, .description2-card {
        font-size: 14px;
    }
}